/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* estilo de scrollbar*/

::-webkit-scrollbar{
  width:15px
}

::-webkit-scrollbar-track{
  background: white;
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(#9500ff,#09f,#00DDFF);
}


/* estilo de logo */

.logo{
  width: 100px;
  border-radius: 100px;
}

.contenedorLogo{
  background-image: none;
}

/* estilo menu*/

.wrapper{
  width:100%;
  max-width: 1000px;
  margin:0 auto;
  padding: 1rem;
  background-color: rgb(66, 66, 66);
  border-radius: 0.4rem;
}

nav{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav div .texto{
  display: inline-block;
}

nav div .logo{
  font-weight: 700;
  font-size: 20px;
}

nav ul{
  list-style:none;
  display: flex;
  gap: 2rem;
}

a span{
  background-color: black;
  padding: 5px 7px;
  border-radius:10px;
  transition: .3s;
}

a span:hover{
  background: none;
}

nav a{
  color:white;
  font-size: 15px;
  text-decoration: none;
  background-image:linear-gradient(#9500ff,#09f,#00DDFF);
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
  transition: .3s;
}

nav #toggle,
nav label{
  display: none;
}


.carrito{
  color: #FFF;
  font-size: 28px;
  
}









/* m q */

@media (max-width: 40.625em){
  
  nav .menu{
    width: 100%;
    height: 0;
    overflow:hidden;
  }

  nav ul{
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  nav label{
    display: inline-flex;
    color: white;
    cursor: pointer;
  }

  nav #toggle:checked ~ .menu{
    height: 100%;
  }
}